/* OVERLAY */
.ulam-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* MODAL */
.ulam-modal {
  background: #3f4a1e;
  width: 320px;
  border-radius: 28px;
  padding: 18px;
  color: #fff;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* IMAGE */
.ulam-modal img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -80px;
  border: 6px solid #3f4a1e;
}

/* TITLE */
.ulam-modal h2 {
  margin-top: 12px;
  font-size: 22px;
  font-weight: 700;
}

/* INFO */
.ulam-info {
  text-align: left;
  margin-top: 12px;
}

.ulam-info h4 {
  font-size: 13px;
  font-weight: 700;
  margin: 8px 0 2px;
}

.ulam-info p {
  font-size: 14px;
  opacity: 0.9;
}

.allergen-text {
  color: #ffd6d6;
}

/* RICE TOGGLE */
.rice-options {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.rice-options button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: #1e1e1e;
  color: #fff;
}

.rice-options button:hover {
  background: #2b2b2b;
}

/* PRICE */
.price {
  font-size: 22px;
  font-weight: 700;
  margin: 12px 0;
}

/* BUTTONS */
.reserve-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserve-btn {
  background: #1fa44a;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.reserve-btn:hover {
  background: #17873d;
}

.reserve-buttons button:last-child {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* SUCCESS CARD */
.reserve-success-container {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-success-card {
  background: #2e2e2e;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  width: 280px;
}

.reserve-success-card h1 {
  color: #1fa44a;
  margin-bottom: 10px;
}

.reserve-success-card button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: #1fa44a;
  color: #fff;
  font-weight: 600;
}

/* ANIMATION */
.fade-in {
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
